* {
    border: 1px solid black;
    margin: 0px;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

nav {
    background-image: url('/netflix/assets/imgs/background.jpg');
    background-size: cover; /* This will make sure your image covers the whole nav container */
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}

#center-menu {
    color: white;
    text-align: center;
}

#center-menu p, #center-menu h3 {
    margin: 1rem;
}

#menus {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

#small-logo {
    color: red;
    text-transform: uppercase;
}

#small-logo, #right-menu {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
